<html>
   <head>
    <title> Authentication </title>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.0.0/crypto-js.min.js"></script>
    <script src="/javascripts/rollups/sha256.js"></script>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" />
    

    </head>


    <body>

        <form>
            <br/>
            <label> Username: </label>
            <input type="text" placeholder="Username" id="username" value="<%= username %>" readonly/>

            <br/>
            <br/>

            <label> Password: </label>
            <input type="password" id="password">

            <br/>
            <br/>
        
            <button onClick="authenticate(); return false;"">Login</button>
        </form>
    
	    <script>

            function authenticate(){

                const username = "<%= username %>";
                const password = $("#password").val();
                const url = new URL(window.location.href);
                const redirect = url.searchParams.get("redirect");
                console.log('Redirect link: ' + redirect);
                const code = Math.ceil(Math.random() * 1000);

                const token = CryptoJS.SHA256(code.toString()+CryptoJS.SHA256(password).toString()).toString();
                window.location.href = redirect + "?code=" + code + "&hashcode=" + token + "&username=" + username;
            }

        </script> 

    </body>


</html>
