<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Express-Test</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <script src="/javascripts/rollups/sha256.js"></script>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" />
    <script src="index.js"></script>
</head>
<body>


    <button onclick=signInBtnClick()> Sign In </button> <br/>
    <button onclick=signUpBtnClick()> Sign Up with CreditX Authentication</button> <br/>
    <button onclick=useCXBtnClick()> Incoporate CreditX Authentication with My Application</button> <br/>


</body>
</html>