<html>
    <head>
	<title> Sign In </title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" />
    <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<script src="/javascripts/rollups/md5.js"></script>
    </head>


    <body>

        <form onSubmit="login(); return false;">
            <br/>
            <label> Username: </label>
            <input type="text" placeholder="Username" id="username"/>
        
            <button type="submit">Login</button>
        </form>

        <script>

            function login(){

                const url = new URL(window.location.href);
                const redirect = "www.google.com";

                if(!redirect){
                    toastr.error('Invalid login. Redirect url not available');
                    return;
                }
                else{
                    const username = $("#username").val();

                    $.post('/blockauth/url', {username: username}).then(data => {

                        if(!data.data){
                            toastr.error("Username is not registered");
                            return;
                        }
                        else{

                            window.location.href = data.data + "?redirect=" + redirect + "&action=login&username=" + username;
                        }

                    }).catch(error => {

                        console.log('Error retrieving user url: ' + error);
                    });
                }


            }


        </script>
    </body>


    


</html>
