<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <script src="/javascripts/rollups/sha256.js"></script>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css"/>


</head>
<body>

    <form onSubmit="signup(); return false;">

        <label>Username: </label>
        <input type="text" id="username" placeholder="Username">

        <br/>
        <br/>

        <label>Password: </label>
        <input type="password" id="password1" placeholder="Password">

        <br/>
        <br/>

        <label>Confirm Password: </label>
        <input type="password" id="password2" placeholder="Confirm password">

        <br/>
        <br/>

        <button id="register" type="submit"> Register </button>

    </form>
    

    <script>

        if(typeof(web3) == "undefined"){

            toastr.error("Browser doesn't support Web3. Please install MetaMask to proceed");

        }

        const contractAddress = "<%= contractAddress %>";
        const contractAbi = <%- JSON.stringify(abi) %>;
        const node_address = "<%= node_address %>";
        var publicKey = "";
        var userUrl = "";

        web3.setProvider(new web3.providers.HttpProvider("node_address"));
        const contract = web3.eth.contract(contractAbi).at(contractAddress); 

        web3.eth.getAccounts((error, accounts) => {

                if(error){
                    console.log(error);
                    return;
                }

                console.log(accounts);
                web3.eth.defaultAccount = accounts[0];
        });

        $(document).ready(function(){

            $.get("/keys/").then(data => {

                publicKey = data.data.publicKey;
                userUrl = data.data.url;

                console.log(publicKey);
                console.log("\n");
                console.log(userUrl);

            }).catch(erro => {
                console.log('Error retrieving keys - ' + error);
            });
        });


        function signup(){

            const username = $("#username").val();
            const password1 = $("#password1").val();
            const password2 = $("#password2").val();
            const validUsername = /^[a-z0-9\.\_]+$/i.test( username );

            var valid = true;

            if( !validUsername ){
                toastr.error("Username can have only alpha numeric characters, . and _");
                valid = false;
            }
            if(password1 != password2){
                toastr.error("Passwords don't match");
                valid = false;
            }
            if(publicKey == "" || userUrl == ""){
                valid = false;
                toastr.error("Not yet ready. Please try after a few seconds.");
            }
            if( typeof(web3) == "undefined"){
                toastr.error("Please install Metamask");
                valid = false;
            }
            if( typeof(web3.eth.defaultAccount) == "undefined"){
                toastr.error("Please login into Metamask");
                valid = false;
            }
            if( !valid ){
                return;
            }

            var usernameFromChain = "";

            //Check username availability status
            $.get("/blockauth/username?username=" + username).then(data => {

                usernameFromChain = data.data;

                if (usernameFromChain == true){
                    
                    addUser();

                }
                else{
                    toastr.error("Username already taken");
                    return;

                }

                }).catch(erro => {

                    console.log('Error retrieving keys - ' + error);
            });

            function addUser(){

                var password = CryptoJS.SHA256(password1).toString();

                const setData = contract.addNewUser(username, userUrl, publicKey, function(error, data) {

                    if(error){
                        console.log('Add New User Error: ' + error);
                        return;
                    }
                    else{

                        console.log('ANUD: ' + data);


                        $.get("/blockauth/username?username=" + username).then(data => {

                            if (data.data == false){

                                $.post('/users/', {username: username, password: password, publicKey: publicKey}).then( response => {
                                    
                                    toastr.success("Registration successfuly");
                                    return;

                                }).catch(error =>{ 

                                    console.log('Database operation failed - ' + error);
                                    toastr.error("Registration unsuccessfuly");
                                    return;
                                });
                                
                                

                            }
                            else{

                                toastr.error("Registration unsuccessfuly");
                                return;

                            }

                        }).catch(erro => {

                            console.log('Error determining registration status - ' + error);
                        });

                        
                    }
                });

            }

            
        };

    </script>

</body>
</html>