<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <script src="/javascripts/rollups/sha256.js"></script>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css"/>
    <link rel="stylesheet" href="login.css" type="text/css">

</head>
<body>

    <div class="hero">

        <div class="form-box" id="form-box">

            <div class="button-box">

                <div id="btn"></div>
                <button type="button" class="toggle-btn" onclick=loginButton()> Sign In</button>
                <button type="button" class="toggle-btn" onclick=registerButton()> Sign Up</button>
            </div>

            <form id="loginForm" class="input-group">

                <input type="text" class="input-field" placeholder="Username" required/>
                <input type="password" class="input-field" placeholder="Password" required/>
                <input type="checkbox" class="check-box"><span>Remember Password</span>
                <button type="submit" class="submit-btn">Sign In</button>
            </form>

            <form id="registerForm" class="input-group" onSubmit="signup(); return false;">

                <input type="text" class="input-field" placeholder="First Name" id="firstName"/>
                <input type="text" class="input-field" placeholder="Last Name" id="lastName"/>
                <input type="text" class="input-field" placeholder="Email Address" id="email"/>
                <input type="text" class="input-field" placeholder="Username" id="username"/>
                <input type="password" class="input-field" placeholder="Password" id="password1"/>
                <input type="password" class="input-field" placeholder="Confirm Password" id="password2"/>
                <input type="checkbox" class="check-box"><span>I agree to terms & conditions</span>
                <button type="submit" class="submit-btn">Sign Up</button>
            </form>
            
        </div>
    </div>
    

    <script>

        var publicKey = "";
        var userUrl = "";
        let loginForm = "";
        let registrationForm = "";
        let btnDiv = "";
        let formBox = "";

        $(document).ready(function(){

            loginForm = document.getElementById("loginForm");
            egisterForm = document.getElementById("registerForm");
            btnDiv = document.getElementById("btn");
            formBox = document.getElementById("form-box");

            $.get("/keys/").then(data => {

                publicKey = data.data.publicKey;
                userUrl = data.data.url;

                console.log(publicKey);
                console.log("\n");
                console.log(userUrl);

            }).catch(erro => {
                console.log('Error retrieving keys - ' + error);
            });
        });

        function registerButton() {

            loginForm.style.left = "-400px";
            registerForm.style.left = "78px";
            btnDiv.style.left = "110px";
            formBox.style.height = "710px";
        }

        function loginButton() {

            loginForm.style.left = "78px";
            registerForm.style.left = "450px";
            btnDiv.style.left = "0";
            formBox.style.height = "480px";
        }


        function signup(){

            var username = $("#username").val();
            var password1 = $("#password1").val();
            var password2 = $("#password2").val();
            var validUsername = /^[a-z0-9\.\_]+$/i.test( username );

            var valid = true;

            if( !validUsername ){
                toastr.error("Username can have only alpha numeric characters, . and _");
                valid = false;
            }
            if(password1 != password2){
                toastr.error("Passwords don't match");
                valid = false;
            }
            if(publicKey == "" || userUrl == ""){
                valid = false;
                toastr.error("Not yet ready. Please try after a few seconds.");
            }
            if( !valid ){
                return;
            }

            var usernameFromChain = "";


            //Check username availability status
            $.get("/blockauth/username?username=" + username).then(data => {

                usernameFromChain = data.data;

                if (usernameFromChain == true){
                    
                    addUser();

                }
                else{

                    toastr.error("Username already taken");
                    return;

                }

            }).catch(error => {

                    console.log('Error retrieving keys - ' + error);
            }); 


            function addUser(){

               var password = CryptoJS.SHA256("hello").toString();                

                $.post('/blockauth/user', {username: username, url: userUrl, publicKey: publicKey}).then( response1 => {
                                    
                    console.log('Insert new user transaction successful');

                    $.post('/users/', {username: username, password: password, publicKey: publicKey}).then( response2 => {
                             
                        toastr.success("Registration successfuly");
                        return;
     
                    }).catch(error =>{ 

                        console.log('Database operation failed - ' + error);
                        toastr.error("Registration unsuccessfuly. Database operation failed");
                        return;
                    });
                          

                }).catch( error => { 

                    console.log('Error with new user blockchain transaction - ' + error);
                    toastr.error("Registration unsuccessfuly. Transaction error");
                    return;

                }); 


            }

            
        };

    </script>

</body>
</html>